doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Paperless
  body
    block content
